{% extends 'core/base.html' %}

{% block title %}Términos y Condiciones{% endblock %}

{% block content %}
<div class="container mx-auto mt-10 mb-10">
    <h2 class="text-3xl font-semibold mb-5">Términos y Condiciones</h2>
    <div class="bg-white shadow-md rounded my-6 p-6">
        <h3 class="text-xl font-semibold mb-3">Cuentas y registro</h3>
        <p>Para realizar pedidos en nuestra tienda se requiere crear una cuenta proporcionando información precisa y completa. Usted es responsable de mantener la confidencialidad de su cuenta y contraseña.</p>

        <h3 class="text-xl font-semibold mb-3">Descripción de los productos</h3>
        <p>Los productos están descritos con la mayor precisión posible. No obstante, no podemos garantizar que todos los detalles sean exactos, completos o libres de errores.</p>

        <h3 class="text-xl font-semibold mb-3">Pedidos y pagos</h3>
        <p>Al realizar un pedido, usted se compromete a pagar la cantidad total indicada en el momento de la compra. Todos los pagos son a través de métodos seguros y verificados.</p>

        <h3 class="text-xl font-semibold mb-3">Envíos</h3>
        <p>Los productos comprados serán enviados según la dirección que usted proporcione. Los tiempos de entrega dependen de cada vendedor.</p>

        <h3 class="text-xl font-semibold mb-3">Devoluciones</h3>
        <p>Si no está satisfecho con su compra, puede devolverla en un plazo de 15 días para obtener un reembolso completo o un cambio, sujeto a ciertas condiciones.</p>

        <h3 class="text-xl font-semibold mb-3">Propiedad intelectual</h3>
        <p>El contenido de la tienda, incluyendo textos, gráficos y logos, es propiedad de Puracultura y está protegido por leyes de propiedad intelectual.</p>

        <h3 class="text-xl font-semibold mb-3">Limitación de responsabilidad</h3>
        <p>Puracultura no será responsable de ningún daño que surja del uso de esta tienda en línea.</p>

        <h3 class="text-xl font-semibold mb-3">Cambios en los términos</h3>
        <p>Nos reservamos el derecho de realizar cambios en los términos y condiciones en cualquier momento. Su uso continuado de la tienda constituirá su aceptación de tales cambios.</p>

        <h3 class="text-xl font-semibold mb-3">Contacto</h3>
        <p>Para cualquier pregunta relacionada con estos términos, por favor contáctenos en: <a href="mailto:admin@puracultura.com" class="text-blue-500">admin@puracultura.com</a>.</p>
    </div>
</div>
{% endblock %}
